* text=auto

*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.log text eol=lf

*.csv -text
*.docx -text
*.ipynb -text
*.pkl -text
*.zip -text
